# Hello World

Print = Function. Prints Whatever Is Inside Brackets

In [3]:
#Next Commmand Prints String Hello World
print("Hello World") 

#Next Command Prints Number 2
print(2)

Hello World
2

# Variables

ASSIGN VARIABLES.

In [4]:
x = 2
name = "Aryan Jain"
z = 3.14
char = 'b'
print(x)
print(z)
print(x,z,name,char)

#Getting Data Type Below.
print(type(x))
y = 2.0
print(type(y))
print(type(char))

2
3.14
2 3.14 Aryan Jain b
<class 'int'>
<class 'float'>
<class 'str'>

CONVERT VARIABLES.

In [5]:
w = 2.2
x = 2.7
print(int(x))
print(int(w))
y = str(x)
print(type(x))
print(type(y))

2
2
<class 'float'>
<class 'str'>

# Number Operators

In [6]:
x = 3
y = 2

#Addition
a = x + y
#Subtraction
s = x - y
#Multiplication
m = x * y
#Division
d = x / y
#Floor Division - Quotient
q = x // y
#Reminder - Modulo
r = x % y
#Exponentiation
e = x ** y 

print(a,s,m,d,q,r,e)

5 1 6 1.5 1 1 9

COMPARISION OPERATORS.

In [7]:
x = 2
y = 3
print(x==y) #Equal To
print(x!=y) #Not Equal To
print(x>y) #GreaterThan
print(x<y) #LessThan 
print(x>=y) #GreaterThanEqualTo
print(x<=y) #LessThanEqualTo
print(x <= y-1)

False
True
False
True
False
True
True

ASSIGNMENT OPERATORS

In [8]:
x = 2
print(x)
x = x + 2
print(x)
x+=2
print(x)
x-=3 #Same As x = x-3
print(x)
x = x*3
print(x)
x*=3
print(x)
x = x/3
print(x)
x/=3
print(x)
x**=3 #Same As x = x ** 3
print(x)
x//=4 #Same As x = x // 4
print(x)

2
4
6
3
9
27
9.0
3.0
27.0
6.0

EXAMPLES

In [9]:
#Example 1.

#BDMAS Test
a = 24/2-6
b = 24-6/2
c = (3+1)*(4+4)/(1+1)
print(a,b,c)

6.0 21.0 16.0

In [10]:
#Example 2. 

#Find number of divisiors of 360?
#Ans. Prime Factorisation Of 360 = 2*2*2*3*3*5
#360 = 2^3 * 3^2 * 5^1
n = (3+1)*(2+1)*(1+1)
print(n)

24

In [11]:
#Example 3. 

# Find e^pi v/s pi^e?
import math
from re import X
t = math.e ** math.pi
p = math.pi ** math.e
print("e^pi > pi^e ? ", t > p)
print(t,p)
print("e > pi ? ", math.e > math.pi)

e^pi > pi^e ?  True
23.140692632779263 22.45915771836104
e > pi ?  False

In [12]:
#Example 4. 

#1. Exchange values inside variables using a dummy variable.
x = 2
y = 3
print (x,y)
temp = x
x = y
y = temp
print (x,y)
#2. Exchange values inside variables without using a dummy variable.
x = 2
y = 3
print (x,y)
x = x + y
y = x - y
x = x - y
print (x,y)
#3. Exchange values inside variables without using a dummy variable. Using LISTS.
x = 2
y = 3
print (x,y)
x,y = y,x
print (x,y)

2 3
3 2
2 3
3 2
2 3
3 2

# String Operators.

CONCATENATION

In [13]:
#Concatenation +

x = "Aryan"
y = "Jain"
print(x+y)
print(x+" "+y)

AryanJain
Aryan Jain

REPETITION

In [14]:
#Repetition *

x = "Riyu"
print(x*3)

RiyuRiyuRiyu

RANGE SLICING / SLICING

In [15]:
#Slicing / Range Slicing [LL:UL]

x = "banana"
z = x[2] #Index{0,1,2,3...}; Index 2 = 3rd Character
print(z)
z = x[2:5] #Print from 3rd To 5th Posn.
print(z)
z = x[:3] #Print from 1st To 4th Posn.
print(z)
z = x[2:] #Print from 3rd To Last Posn.
print(z)

n
nan
ban
nana

IN

In [16]:
# in

name = "Aryan Jain"
print('a' in name) # Yeh letter isme hai ya nhi - TRUE/FALSE
print('q' in name)
print('j' in name) # Case Sensitive
print('J' in name)

True
False
False
True

INDEX

In [17]:
#index - yeh wala letter kha pe aarha hai

name = "Aryan Jain"
y = name.find('y') #Index = {0,1,2,3...}; Index 2 = 3rd Character
print(y)
print(name.find ("a"))

2
3

%s

In [8]:
#%s - PlaceHolder
name = "Aryan Jain"

print("Hello, my name is %s" %name) #This is a single statement ie printed.
print("Hello my name is ", name) #This is a list of 2 statements ie printed.

Hello, my name is Aryan Jain
Hello my name is  Aryan Jain

In [7]:
# Use 2 simultaneous variables in %s
name = "Aryan Jain"
age = "19"

print("Hello my name is %s and my age is %s" %(name,age))

Hello my name is Aryan Jain and my age is 19

NOTE: For python " "  ==  ' '

# Functions

FUNCTIONS WITHOUT ARGUMNET

In [ ]:
#Defining a function that can be called to mark completion of a task.
def task_finished(): 
    print("You have successfully finished the task!")

task_finished()

In [ ]:
#Defining a function that returns an output = 0
def returnzero():
    return 0

x = returnzero()
print(x)

FUNCTIONS WITH ARGUMNETS

In [ ]:
def cubing(x):
    return x**2

print(cubing(11))

In [ ]:
#Function with TWO arguments

def x_plus_y_square(x,y):
    return(x+y) ** 2

print(x_plus_y_square(3,5))

Examples

In [ ]:
#EXAMPLE 1

#Function to convert temprature fro celcius to farenheit
def temp_farenh(temp):
    return (temp * (9/5)) + 32 #(temp °C × 9/5) + 32 = temp °F

print(temp_farenh(0))
print(temp_farenh(37))
print(temp_farenh(-40)) #At -40 degree celcius = farenheit

In [ ]:
#EXAMPLE 2

#Function to find GM of 3 Nos.
def gm(x,y,z):
    g = (x*y*z)**(1/3)
    return g
x = gm (2,4,8)
print(x)

import math
y = round(x) #Rounding Off/Estimating Value.
print(y)
a = input()
print(a)

Default Argument & Keyword Argument.

In [ ]:
def vol_cube (length = 1, breadth = 1,height = 1): #DEFAULT ARGUMNENT = Default value of parameter, Taken if NOT while calling the function.
    return length*breadth*height

print(vol_cube(1,2,3))
print(vol_cube())
print(vol_cube(2,3))
print(vol_cube(height=10,length=5)) 
#KEYWORD ARGUMENT = Uss particular parameter ko value assign krne ke liye, Function call karte huye.

# Conditional Expressions

If - Else Condition

In [3]:
#Check if integer is positive, negative or zero?
n = int(input())
if n > 0 :
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

Zero

In [5]:
#Collatz Conjecture
# f(n) = n/2, n = even OR 3n+1, n = odd
def collatz(n):
    if n%2==0:
        return n/2
    else:
        return 3*n + 1

n = int(input())

print(n)
while n>1 :
    n = int(collatz(n))
    print(n)

4
2
1

AND - OR : Conditional Operators

In [4]:
#If a natural no is less then 10 & even, return half the number, else return the same number
n = int(input())
if n%2==0 and n<10:
    print(int(n/2))
else:
    print(n)

4

In [7]:
# If a ntural number is divisible by 3 or is less than 5, then return its double
# if it is not divisible by 3 and is greater than 10, then return its triple
# In all other cases, return n as it is
def fun1(n):
    if n%3==0 or n<5:
        return n*2
    elif n%3!=0 and n>10:
        return n*3
    else:
        return n
n = int(input())
print(fun1(n))

33

Nested IF - ELSE

In [11]:
#Program to check if a year is leap year or not.
#If the year is divisible by 100 --> If they are also divisible by 400, then Leap year, else non leap year. 
#For the years which are not divisible by 100, if they are divisible by 4, then Leap year. Else non leap year.

def leap_year(n):
    if n%100==0:
        if n%400==0:
            return True
        else:
            return False
    else:
        if n%4==0:
            return True
        else:
            return False
n = int(input())
print(leap_year(n))

False