# Hello World

Print = Function. Prints Whatever Is Inside Brackets

In [3]:
#Next Commmand Prints String Hello World
print("Hello World") 

#Next Command Prints Number 2
print(2)

Hello World
2

# Variables

In [4]:
#ASSIGN VARIABLES.

x = 2
name = "Aryan Jain"
z = 3.14
char = 'b'
print(x)
print(z)
print(x,z,name,char)

#Getting Data Type Below.
print(type(x))
y = 2.0
print(type(y))
print(type(char))

2
3.14
2 3.14 Aryan Jain b
<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
#CONVERT VARIABLES.

w = 2.2
x = 2.7
print(int(x))
print(int(w))
y = str(x)
print(type(x))
print(type(y))

2
2
<class 'float'>
<class 'str'>

# Number Operators

In [6]:
x = 3
y = 2

#Addition
a = x + y
#Subtraction
s = x - y
#Multiplication
m = x * y
#Division
d = x / y
#Floor Division - Quotient
q = x // y
#Reminder - Modulo
r = x % y
#Exponentiation
e = x ** y 

print(a,s,m,d,q,r,e)

5 1 6 1.5 1 1 9

In [7]:
#COMPARISION OPERATORS.

x = 2
y = 3
print(x==y) #Equal To
print(x!=y) #Not Equal To
print(x>y) #GreaterThan
print(x<y) #LessThan 
print(x>=y) #GreaterThanEqualTo
print(x<=y) #LessThanEqualTo
print(x <= y-1)

False
True
False
True
False
True
True

In [8]:
#ASSIGNMENT OPERATORS

x = 2
print(x)
x = x + 2
print(x)
x+=2
print(x)
x-=3 #Same As x = x-3
print(x)
x = x*3
print(x)
x*=3
print(x)
x = x/3
print(x)
x/=3
print(x)
x**=3 #Same As x = x ** 3
print(x)
x//=4 #Same As x = x // 4
print(x)

2
4
6
3
9
27
9.0
3.0
27.0
6.0

EXAMPLES

In [9]:
#Example 1.

#BDMAS Test
a = 24/2-6
b = 24-6/2
c = (3+1)*(4+4)/(1+1)
print(a,b,c)

6.0 21.0 16.0

In [10]:
#Example 2. 

#Find number of divisiors of 360?
#Ans. Prime Factorisation Of 360 = 2*2*2*3*3*5
#360 = 2^3 * 3^2 * 5^1
n = (3+1)*(2+1)*(1+1)
print(n)

24

In [11]:
#Example 3. 

# Find e^pi v/s pi^e?
import math
from re import X
t = math.e ** math.pi
p = math.pi ** math.e
print("e^pi > pi^e ? ", t > p)
print(t,p)
print("e > pi ? ", math.e > math.pi)

e^pi > pi^e ?  True
23.140692632779263 22.45915771836104
e > pi ?  False

In [12]:
#Example 4. 

#1. Exchange values inside variables using a dummy variable.
x = 2
y = 3
print (x,y)
temp = x
x = y
y = temp
print (x,y)
#2. Exchange values inside variables without using a dummy variable.
x = 2
y = 3
print (x,y)
x = x + y
y = x - y
x = x - y
print (x,y)
#3. Exchange values inside variables without using a dummy variable. Using LISTS.
x = 2
y = 3
print (x,y)
x,y = y,x
print (x,y)

2 3
3 2
2 3
3 2
2 3
3 2

# String Operators.

In [13]:
#Concatenation +

x = "Aryan"
y = "Jain"
print(x+y)
print(x+" "+y)

AryanJain
Aryan Jain

In [14]:
#Repetition *

x = "Riyu"
print(x*3)

RiyuRiyuRiyu

In [15]:
#Slicing / Range Slicing [LL:UL]

x = "banana"
z = x[2] #Index{0,1,2,3...}; Index 2 = 3rd Character
print(z)
z = x[2:5] #Print from 3rd To 5th Posn.
print(z)
z = x[:3] #Print from 1st To 4th Posn.
print(z)
z = x[2:] #Print from 3rd To Last Posn.
print(z)

n
nan
ban
nana

In [16]:
# in

name = "Aryan Jain"
print('a' in name) # Yeh letter isme hai ya nhi - TRUE/FALSE
print('q' in name)
print('j' in name) # Case Sensitive
print('J' in name)

True
False
False
True

In [17]:
#index - yeh wala letter kha pe aarha hai

name = "Aryan Jain"
y = name.find('y') #Index = {0,1,2,3...}; Index 2 = 3rd Character
print(y)
print(name.find ("a"))

2
3

NOTE: For python " "  ==  ' '

# Functions

FUNCTIONS WITHOUT ARGUMNET

In [ ]:
#Defining a function that can be called to mark completion of a task.
def task_finished(): 
    print("You have successfully finished the task!")

task_finished()

In [ ]:
#Defining a function that returns an output = 0
def returnzero():
    return 0

x = returnzero()
print(x)

FUNCTIONS WITH ARGUMNETS

In [ ]:
def cubing(x):
    return x**2

print(cubing(11))

In [ ]:
#Function with TWO arguments

def x_plus_y_square(x,y):
    return(x+y) ** 2

print(x_plus_y_square(3,5))

Examples

In [ ]:
#EXAMPLE 1

#Function to convert temprature fro celcius to farenheit
def temp_farenh(temp):
    return (temp * (9/5)) + 32 #(temp °C × 9/5) + 32 = temp °F

print(temp_farenh(0))
print(temp_farenh(37))
print(temp_farenh(-40)) #At -40 degree celcius = farenheit

In [ ]:
#EXAMPLE 2

#Function to find GM of 3 Nos.
def gm(x,y,z):
    g = (x*y*z)**(1/3)
    return g
x = gm (2,4,8)
print(x)

import math
y = round(x) #Rounding Off/Estimating Value.
print(y)
a = input()
print(a)

In [ ]:
#Default Argument & Keyword Argument.
def vol_cube (length = 1, breadth = 1,height = 1): #DEFAULT ARGUMNENT = Default value of parameter, Taken if NOT while calling the function.
    return length*breadth*height

print(vol_cube(1,2,3))
print(vol_cube())
print(vol_cube(2,3))
print(vol_cube(height=10,length=5)) 
#KEYWORD ARGUMENT = Uss particular parameter ko value assign krne ke liye, Function call karte huye.